/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 4, 2018, 2:16:22 PM
    Author     : cristiano.diego
*/

.gridBidJornada{
    -fx-background-color: #00B0EB;
}

.gridBidPerformance{
    -fx-background-color: #ADD8E6;
}