/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 4, 2018, 2:16:42 PM
    Author     : cristiano.diego
*/

.gridBidJornada{
    -fx-background-color: #FF69B4;
}

.gridBidPerformance{
    -fx-background-color: #FFB5DA;
}