/*<editor-fold defaultstate="collapsed" desc="Primitive components">*/

.root {
    -fx-background-color: -background-color;
    -fx-body-color : -body-color;
    -fx-outer-border : -outer-border;
    -fx-text-fill: -text-fill;
}
.control-button {
    -fx-border-width: 0.1;
    -fx-border-color: #66afe9;
    -fx-effect: dropshadow(gaussian, #66afe9, 10, 0, 0, 0);
    -fx-font-size: 26;
    -fx-background-radius: 2;
}
.button:focused, .toggle-button:focused,
.split-menu-button:focused, .menu-button:focused,
.number-button:focused,
.combo-box:focused .text-field, .choice-box:focused, .color-picker:focused, .date-picker:focused .text-field,
.text-field:focused, .text-area:focused
{
    -fx-border-color: #66afe9;
    -fx-effect: dropshadow(gaussian, #66afe9, 10, 0, 0, 0);
}
.combo-box:focused * {
    -fx-effect: none;
}

.button,.menu-button,.toggle-button,.split-menu-button {
    -fx-font-size: 11;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-pref-height: 30;
    -fx-min-width: 30;
}
.button,.menu-button,.split-menu-button,.toggle-button,.number-button {
    -fx-background-insets: 0, 0, -1, 0;
}

.split-menu-button > .label {
    -fx-border-radius: 2 0 0 2;
    -fx-background-radius: 1 0 0 1;
}

.split-menu-button > .arrow-button {
    -fx-border-radius: 0 2 2 0;
    -fx-background-radius: 0 1 1 0;
}

.xl {
    -fx-min-height: 67;
    -fx-max-height: 67;
    -fx-font-size: 30;
}

.lg {
    -fx-min-height: 46;
    -fx-max-height: 46;
    -fx-font-size: 20;
}

.md {
    -fx-min-height: 46;
    -fx-max-height: 46;
    -fx-font-size: 16;
}

.sm {
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-font-size: 12;
}

.xs {
    -fx-min-height: 22;
    -fx-max-height: 22;
    -fx-font-size: 10;
}

.es {
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-font-size: 8;
    -fx-padding: 1;
}

.primary .arrow,
.success .arrow,
.info .arrow,
.warning .arrow,
.danger .arrow {
    -fx-background-color: transparent, white;
}

.primary > .label,
.success > .label,
.info > .label,
.warning > .label,
.danger > .label {
    -fx-text-fill: white;
}

.action-btn {
    -fx-min-width: 80;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Sinalization">*/
.danger {
    -fx-background-color: #d9534f;
    -fx-background-radius: 2;
}
.danger-light {
    -fx-background-color: #f5c6cb;
    -fx-background-radius: 2;
}

.success {
    -fx-background-color: #5cb85c;
    -fx-background-radius: 2;
}
.success-light {
    -fx-background-color: #c3e6cb;
    -fx-background-radius: 2;
}

.primary {
    -fx-background-color: #007bff;
    -fx-background-radius: 2;
}
.primary-light {
    -fx-background-color: #b8daff;
    -fx-background-radius: 2;
}

.warning {
    -fx-background-color: #f0ad4e;
    -fx-background-radius: 2;
}
.warning-light {
    -fx-background-color: #ffeeba;
    -fx-background-radius: 2;
}

.amber{
    -fx-background-color: #664c00;
    -fx-background-radius: 2;
}
.amber-light{
    -fx-background-color: #ffe390;
    -fx-background-radius: 2;
}

.info {
    -fx-background-color: #5bc0de;
    -fx-background-radius: 2;
}
.info-light {
    -fx-background-color: #bee5eb;
    -fx-background-radius: 2;
}

.default {
    -fx-background-color: #fff;
    -fx-background-radius: 2;
}

.mostruario{
    -fx-background-color: #f97793;
    -fx-background-radius: 2;
}

.dark{
    -fx-background-color: #232323;
    -fx-background-radius: 2;
}

.high-dark{
    -fx-background-color: #232323;
    -fx-background-radius: 2;
}

.secundary {
    -fx-background-color: #6c757d;
    -fx-background-radius: 2;
}

.light-danger {
    -fx-background-color: #f5c6cb;
    -fx-text-fill: #7d1e1b;
    -fx-background-radius: 2;
}

.light-success {
    -fx-background-color: #c3e6cb;
    -fx-text-fill: #2b622b;
    -fx-background-radius: 2;
}

.light-primary {
    -fx-background-color: #b8daff;
    -fx-text-fill: #0062cc;
    -fx-background-radius: 2;
}

.light-warning {
    -fx-background-color: #ffeeba;
    -fx-text-fill: #9c7500;
    -fx-background-radius: 2;
}

.light-amber{
    -fx-background-color: #ffe390;
    -fx-text-fill: #664c00;
    -fx-background-radius: 2;
}

.light-info {
    -fx-background-color: #bee5eb;
    -fx-text-fill: #349dad;
    -fx-background-radius: 2;
}

.light-default {
    -fx-background-color: #fff;
    -fx-background-radius: 2;
}

.light-dark{
    -fx-background-color: #c6c8ca;
    -fx-text-fill: #454d55;
    -fx-background-radius: 2;
}

.light-secundary {
    -fx-background-color: #d6d8db;
    -fx-text-fill: #6e757b;
    -fx-background-radius: 2;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Positions button, menu-button, toggle-button, text-field, text-area">*/

/*first*/
.button.first, .menu-button.first, .toggle-button.first, .text-field.first, .text-area.first, .date-picker.first {
    -fx-border-radius: 2 0 0 2;
    -fx-background-radius: 2 0 0 2;
}

.button.first-down, .menu-button.first-down, .toggle-button.first-down, .text-field.first-down, .text-area.first-down, .date-picker.first-down {
    -fx-border-radius: 0 0 0 2;
    -fx-background-radius: 0 0 0 2;
}

.split-menu-button.first > .arrow-button, .split-menu-button.middle > .arrow-button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

VBox > .button.first,
VBox > .menu-button.first,
VBox > .toggle-button.first,
VBox > .split-menu-button.first,
VBox > .text-field.first,
VBox > .date-picker.first,
VBox > .text-area.first {
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
}

VBox > .split-menu-button.first > .label {
    -fx-border-radius: 2 0 0 0;
    -fx-background-radius: 1 0 0 0;
}
VBox > .split-menu-button.first > .arrow-button {
    -fx-border-radius: 0 2 0 0;
    -fx-background-radius: 0 1 0 0;
}
/*middle*/
.middle {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/*last*/
.split-menu-button.middle > .label, .split-menu-button.last > .label {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.split-menu-button.last {
    -fx-border-radius: 0 2 2 0;
    -fx-background-radius: 0 2 2 0;
}

.button.middle, .text-field.middle, .text-area.middle, .split-menu-button.middle, .toggle-button.middle {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button.last, .text-field.last, .text-area.last, .split-menu-button.last, .toggle-button.last, .menu-button.last, .date-picker.last {
    -fx-border-radius: 0 2 2 0;
    -fx-background-radius: 0 2 2 0;
}
VBox > .button.last,
VBox > .menu-button.last,
VBox > .toggle-button.last,
VBox > .split-menu-button.last,
VBox > .text-field.last,
VBox > .date-picker.last,
VBox > .text-area.last {
    -fx-border-radius: 0 0 2 2;
    -fx-background-radius: 0 0 2 2;
}

VBox > .split-menu-button.last > .label {
    -fx-border-radius: 0 0 0 2;
    -fx-background-radius: 0 0 0 1;
}
VBox > .split-menu-button.last > .arrow-button {
    -fx-border-radius: 0 0 2 0;
    -fx-background-radius: 0 0 1 0;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Button styles">*/

/*default button settings*/
/*bgcolor setting*/
.color-picker,.date-picker > .arrow-button,
.number-button,.left-arrow-button,.right-arrow-button,
.button,.split-menu-button,.toggle-button,.menu-button,
.font-menu-button, .split-menu-button > .label, .split-menu-button > .arrow-button {
    -fx-background-color: white;
}

.color-picker,.date-picker > .arrow-button,
.button,.menu-button,.toggle-button,.number-button,.left-arrow-button,.right-arrow-button,
.font-menu-button,
.split-menu-button > .label,.split-menu-button > .arrow-button {
    -fx-border-color: #cccccc;
    -fx-text-fill: #2a2e33;
}
/*just for the special split menu button*/
.split-menu-button > .label {
    -fx-border-width: 1 0 1 1;
}
/*for date picker arrow button*/
.date-picker > .arrow-button {
    -fx-border-radius: 0 2 2 0;
}
.combo-box > .arrow-button, .choice-box > .arrow-button {
    -fx-border-width: 0;
}
/*hover state*/
.color-picker:hover,
.date-picker:hover > .arrow-button,
.combo-box:hover,.choice-box:hover,
.number-button:hover,.left-arrow-button:hover,.right-arrow-button:hover,
.button:hover,.menu-button:hover,.toggle-button:hover,
.font-menu-button:hover,
.split-menu-button > .label:hover, .split-menu-button > .arrow-button:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #acacac;
}
/*pressed selected*/
.color-picker:pressed,.color-picker:selected,
.number-button:pressed,.number-button:selected,
.date-picker:pressed > .arrow-button,
.combo-box:pressed > .arrow-button,.combo-box:selected > .arrow-button,
.choice-box:pressed > .arrow-button,.choice-box:selected > .arrow-button,
.font-menu-button:pressed,.font-menu-button:selected,
.left-arrow-button:pressed,.left-arrow-button:selected,
.right-arrow-button:pressed,.right-arrow-button:selected,
.button:pressed, .button:selected,.menu-button:pressed,.menu-button:selected
,.toggle-button:pressed,
.split-menu-button:pressed > .label, .split-menu-button > .arrow-button:pressed {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #802046;
    -fx-effect: innershadow(gaussian, #802046, 5, 0, 0, 0);
}
.toggle-button:selected {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #802046;
    -fx-font-style: oblique;
    -fx-effect: innershadow(gaussian, #222, 7, 0, 0, 0);
}

/*<editor-fold defaultstate="collapsed" desc="Button styles fill">*/

/*default*/

.button.default,.split-menu-button.default,.toggle-button.default,.menu-button.default,
.split-menu-button.default > .label, .split-menu-button.default > .arrow-button {
    -fx-background-color: #dedede;
}

.button.default,.menu-button.default,.toggle-button.default,
.split-menu-button.default > .label,.split-menu-button.default > .arrow-button {
    -fx-border-color: #cecece;
    -fx-text-fill: #2a2e33;
}
/*hover state*/
.button.default:hover,.menu-button.default:hover,.toggle-button.default:hover,
.split-menu-button.default > .label:hover, .split-menu-button.default > .arrow-button:hover {
    -fx-border-color: #cecece;
    -fx-background-color: #cecece;
}
/*pressed selected*/
.button.default:pressed, .button.default:selected,
.menu-button.default:pressed,.menu-button.default:selected
,.toggle-button.default:pressed,.toggle-button.default:selected,
.split-menu-button.default:pressed > .label, .split-menu-button.default > .arrow-button:pressed {
    -fx-background-color: #dedede;
    -fx-border-color: #cecece;
    -fx-effect: innershadow(gaussian, #cecece, 10, 0, 0, 3);
}

/*primary*/

.button.primary,.split-menu-button.primary,.toggle-button.primary,.menu-button.primary,
.split-menu-button.primary > .label, .split-menu-button.primary > .arrow-button {
    -fx-background-color: #007bff;
}

.button.primary,.menu-button.primary,.toggle-button.primary,
.split-menu-button.primary > .label,.split-menu-button.primary > .arrow-button {
    -fx-border-color: #007bff;
    -fx-text-fill: white;
}
/*hover state*/
.button.primary:hover,.menu-button.primary:hover,.toggle-button.primary:hover,
.split-menu-button.primary > .label:hover, .split-menu-button.primary > .arrow-button:hover {
    -fx-border-color: #204d74;
    -fx-background-color: #286090;
}
/*pressed selected*/
.button.primary:pressed, .button.primary:selected,
.menu-button.primary:pressed,.menu-button.primary:selected
,.toggle-button.primary:pressed,.toggle-button.primary:selected,
.split-menu-button.primary:pressed > .label, .split-menu-button.primary > .arrow-button:pressed {
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
    -fx-effect: innershadow(gaussian, #204d74, 10, 0, 0, 3);
}

/*secundary*/

.button.secundary,.split-menu-button.secundary,.toggle-button.secundary,.menu-button.secundary,
.split-menu-button.secundary > .label, .split-menu-button.secundary > .arrow-button {
    -fx-background-color: #6c757d;
}

.button.secundary,.menu-button.secundary,.toggle-button.secundary,
.split-menu-button.secundary > .label,.split-menu-button.secundary > .arrow-button {
    -fx-border-color: #6c757d;
    -fx-text-fill: white;
}
/*hover state*/
.button.secundary:hover,.menu-button.secundary:hover,.toggle-button.secundary:hover,
.split-menu-button.secundary > .label:hover, .split-menu-button.secundary > .arrow-button:hover {
    -fx-border-color: #565e64;
    -fx-background-color: #565e64;
}
/*pressed selected*/
.button.secundary:pressed, .button.secundary:selected,
.menu-button.secundary:pressed,.menu-button.secundary:selected
,.toggle-button.secundary:pressed,.toggle-button.secundary:selected,
.split-menu-button.secundary:pressed > .label, .split-menu-button.secundary > .arrow-button:pressed {
    -fx-background-color: #6c757d;
    -fx-border-color: #565e64;
    -fx-effect: innershadow(gaussian, #565e64, 10, 0, 0, 3);
}

/*success*/

.button.success,.split-menu-button.success,.toggle-button.success,.menu-button.success,
.split-menu-button.success > .label, .split-menu-button.success > .arrow-button {
    -fx-background-color: #5cb85c;
}

.button.success,.menu-button.success,.toggle-button.success,
.split-menu-button.success > .label,.split-menu-button.success > .arrow-button {
    -fx-border-color: #4cae4c;
    -fx-text-fill: white;
}
/*hover state*/
.button.success:hover,.menu-button.success:hover,.toggle-button.success:hover,
.split-menu-button.success > .label:hover, .split-menu-button.success > .arrow-button:hover {
    -fx-border-color: #398439;
    -fx-background-color: #449d44;
}
/*pressed selected*/
.button.success:pressed, .button.success:selected,
.menu-button.success:pressed,.menu-button.success:selected
,.toggle-button.success:pressed,.toggle-button.success:selected,
.split-menu-button.success:pressed > .label, .split-menu-button.success > .arrow-button:pressed {
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
    -fx-effect: innershadow(gaussian, #398439, 10, 0, 0, 3);
}

/*info*/

.button.info,.split-menu-button.info,.toggle-button.info,.menu-button.info,
.split-menu-button.info > .label, .split-menu-button.info > .arrow-button {
    -fx-background-color: #5bc0de;
}

.button.info,.menu-button.info,.toggle-button.info,
.split-menu-button.info > .label,.split-menu-button.info > .arrow-button {
    -fx-border-color: #46b8da;
    -fx-text-fill: white;
}
/*hover state*/
.button.info:hover,.menu-button.info:hover,.toggle-button.info:hover,
.split-menu-button.info > .label:hover, .split-menu-button.info > .arrow-button:hover {
    -fx-border-color: #269abc;
    -fx-background-color: #31b0d5;
}
/*pressed selected*/
.button.info:pressed, .button.info:selected,
.menu-button.info:pressed,.menu-button.info:selected
,.toggle-button.info:pressed,.toggle-button.info:selected,
.split-menu-button.info:pressed > .label, .split-menu-button.info > .arrow-button:pressed {
    -fx-background-color: #31b0d5;
    -fx-border-color: #269abc;
    -fx-effect: innershadow(gaussian, #269abc, 10, 0, 0, 3);
}

/*warning*/

.button.warning,.split-menu-button.warning,.toggle-button.warning,.menu-button.warning,
.split-menu-button.warning > .label, .split-menu-button.warning > .arrow-button {
    -fx-background-color: #f0ad4e;
}

.button.warning,.menu-button.warning,.toggle-button.warning,
.split-menu-button.warning > .label,.split-menu-button.warning > .arrow-button {
    -fx-border-color: #eea236;
    -fx-text-fill: white;
}
/*hover state*/
.button.warning:hover,.menu-button.warning:hover,.toggle-button.warning:hover,
.split-menu-button.warning > .label:hover, .split-menu-button.warning > .arrow-button:hover {
    -fx-border-color: #d58512;
    -fx-background-color: #ec971f;
}
/*pressed selected*/
.button.warning:pressed, .button.warning:selected,
.menu-button.warning:pressed,.menu-button.warning:selected
,.toggle-button.warning:pressed,.toggle-button.warning:selected,
.split-menu-button.warning:pressed > .label, .split-menu-button.warning > .arrow-button:pressed {
    -fx-background-color: #ec971f;
    -fx-border-color: #d58512;
    -fx-effect: innershadow(gaussian, #d58512, 10, 0, 0, 3);
}

/*danger*/

.button.danger,.split-menu-button.danger,.toggle-button.danger,.menu-button.danger,
.split-menu-button.danger > .label, .split-menu-button.danger > .arrow-button {
    -fx-background-color: #d9534f;
}

.button.danger,.menu-button.danger,.toggle-button.danger,
.split-menu-button.danger > .label,.split-menu-button.danger > .arrow-button {
    -fx-border-color: #d43f3a;
    -fx-text-fill: white;
}
/*hover state*/
.button.danger:hover,.menu-button.danger:hover,.toggle-button.danger:hover,
.split-menu-button.danger > .label:hover, .split-menu-button.danger > .arrow-button:hover {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
}
/*pressed selected*/
.button.danger:pressed, .button.danger:selected,
.menu-button.danger:pressed,.menu-button.danger:selected
,.toggle-button.danger:pressed,.toggle-button.danger:selected,
.split-menu-button.danger:pressed > .label, .split-menu-button.danger > .arrow-button:pressed {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
    -fx-effect: innershadow(gaussian, #ac2925, 10, 0, 0, 3);
}

/*dark*/

.button.dark,.split-menu-button.dark,.toggle-button.dark,.menu-button.dark,
.split-menu-button.dark > .label, .split-menu-button.dark > .arrow-button {
    -fx-background-color: #343a40;
}

.button.dark,.menu-button.dark,.toggle-button.dark,
.split-menu-button.dark > .label,.split-menu-button.dark > .arrow-button {
    -fx-border-color: #343a40;
    -fx-text-fill: white;
}
/*hover state*/
.button.dark:hover,.menu-button.dark:hover,.toggle-button.dark:hover,
.split-menu-button.dark > .label:hover, .split-menu-button.dark > .arrow-button:hover {
    -fx-border-color: #2a2e33;
    -fx-background-color: #2a2e33;
}
/*pressed selected*/
.button.dark:pressed, .button.dark:selected,
.menu-button.dark:pressed,.menu-button.dark:selected
,.toggle-button.dark:pressed,.toggle-button.dark:selected,
.split-menu-button.dark:pressed > .label, .split-menu-button.dark > .arrow-button:pressed {
    -fx-background-color: #343a40;
    -fx-border-color: #343a40;
    -fx-effect: innershadow(gaussian, #2a2e33, 10, 0, 0, 3);
}

/*amber*/

.button.amber,.split-menu-button.amber,.toggle-button.amber,.menu-button.amber,
.split-menu-button.amber > .label, .split-menu-button.amber > .arrow-button {
    -fx-background-color: #664c00;
}

.button.amber,.menu-button.amber,.toggle-button.amber,
.split-menu-button.amber > .label,.split-menu-button.amber > .arrow-button {
    -fx-border-color: #664c00;
    -fx-text-fill: #faba00;
}
/*hover state*/
.button.amber:hover,.menu-button.amber:hover,.toggle-button.amber:hover,
.split-menu-button.amber > .label:hover, .split-menu-button.amber > .arrow-button:hover {
    -fx-border-color: #664c00;
    -fx-background-color: #664c00;
}
/*pressed selected*/
.button.amber:pressed, .button.amber:selected,
.menu-button.amber:pressed,.menu-button.amber:selected
,.toggle-button.amber:pressed,.toggle-button.amber:selected,
.split-menu-button.amber:pressed > .label, .split-menu-button.amber > .arrow-button:pressed {
    -fx-background-color: #805f00;
    -fx-border-color: #805f00;
    -fx-effect: innershadow(gaussian, #664c00, 10, 0, 0, 3);
}

/*mostruario*/

.button.mostruario,.split-menu-button.mostruario,.toggle-button.mostruario,.menu-button.mostruario,
.split-menu-button.mostruario > .label, .split-menu-button.mostruario > .arrow-button {
    -fx-background-color: #f97793;
}

.button.mostruario,.menu-button.mostruario,.toggle-button.mostruario,
.split-menu-button.mostruario > .label,.split-menu-button.mostruario > .arrow-button {
    -fx-border-color: #f97793;
    -fx-text-fill: #2a2e33;
}
/*hover state*/
.button.mostruario:hover,.menu-button.mostruario:hover,.toggle-button.mostruario:hover,
.split-menu-button.mostruario > .label:hover, .split-menu-button.mostruario > .arrow-button:hover {
    -fx-border-color: #f97793;
    -fx-background-color: #f97793;
}
/*pressed selected*/
.button.mostruario:pressed, .button.mostruario:selected,
.menu-button.mostruario:pressed,.menu-button.mostruario:selected
,.toggle-button.mostruario:pressed,.toggle-button.mostruario:selected,
.split-menu-button.mostruario:pressed > .label, .split-menu-button.mostruario > .arrow-button:pressed {
    -fx-background-color: #fdcfd9;
    -fx-border-color: #fdcfd9;
    -fx-effect: innershadow(gaussian, #f97793, 10, 0, 0, 3);
}

/*light*/

.button.light,.split-menu-button.light,.toggle-button.light,.menu-button.light,
.split-menu-button.light > .label, .split-menu-button.light > .arrow-button {
    -fx-background-color: #f8f9fa;
}

.button.light,.menu-button.light,.toggle-button.light,
.split-menu-button.light > .label,.split-menu-button.light > .arrow-button {
    -fx-border-color: #f8f9fa;
    -fx-text-fill: #2a2e33;
}
/*hover state*/
.button.light:hover,.menu-button.light:hover,.toggle-button.light:hover,
.split-menu-button.light > .label:hover, .split-menu-button.light > .arrow-button:hover {
    -fx-border-color: #f5f5f5;
    -fx-background-color: #f5f5f5;
}
/*pressed selected*/
.button.light:pressed, .button.light:selected,
.menu-button.light:pressed,.menu-button.light:selected
,.toggle-button.light:pressed,.toggle-button.light:selected,
.split-menu-button.light:pressed > .label, .split-menu-button.light > .arrow-button:pressed {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #f8f9fa;
    -fx-effect: innershadow(gaussian, #f5f5f5, 10, 0, 0, 3);
}
/*</editor-fold>*/
/*<editor-fold defaultstate="collapsed" desc="Button styles outline">*/

/*primary-outline*/

.button.primary-outline,.menu-button.primary-outline,.toggle-button.primary-outline,
.split-menu-button.primary-outline > .label,.split-menu-button.primary-outline > .arrow-button {
    -fx-border-color: #007bff;
    -fx-text-fill: #007bff;
}
/*hover state*/
.button.primary-outline:hover,.menu-button.primary-outline:hover,.toggle-button.primary-outline:hover,
.split-menu-button.primary-outline > .label:hover, .split-menu-button.primary-outline > .arrow-button:hover {
    -fx-border-color: #007bff;
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
}
/*pressed selected*/
.button.primary-outline:pressed, .button.primary-outline:selected,
.menu-button.primary-outline:pressed,.menu-button.primary-outline:selected
,.toggle-button.primary-outline:pressed,.toggle-button.primary-outline:selected,
.split-menu-button.primary-outline:pressed > .label, .split-menu-button.primary-outline > .arrow-button:pressed {
    -fx-background-color: #286090;
    -fx-border-color: #204d74;
    -fx-effect: innershadow(gaussian, #204d74, 10, 0, 0, 3);
}

/*secundary-outline*/
.button.secundary-outline,.menu-button.secundary-outline,.toggle-button.secundary-outline,
.split-menu-button.secundary-outline > .label,.split-menu-button.secundary-outline > .arrow-button {
    -fx-border-color: #6c757d;
    -fx-text-fill: #6c757d;
}
/*hover state*/
.button.secundary-outline:hover,.menu-button.secundary-outline:hover,.toggle-button.secundary-outline:hover,
.split-menu-button.secundary-outline > .label:hover, .split-menu-button.secundary-outline > .arrow-button:hover {
    -fx-border-color: #6c757d;
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
}
/*pressed selected*/
.button.secundary-outline:pressed, .button.secundary-outline:selected,
.menu-button.secundary-outline:pressed,.menu-button.secundary-outline:selected
,.toggle-button.secundary-outline:pressed,.toggle-button.secundary-outline:selected,
.split-menu-button.secundary-outline:pressed > .label, .split-menu-button.secundary-outline > .arrow-button:pressed {
    -fx-background-color: #6c757d;
    -fx-border-color: #565e64;
    -fx-effect: innershadow(gaussian, #565e64, 10, 0, 0, 3);
}

/*success-outline*/

.button.success-outline,.menu-button.success-outline,.toggle-button.success-outline,
.split-menu-button.success-outline > .label,.split-menu-button.success-outline > .arrow-button {
    -fx-border-color: #5cb85c;
    -fx-text-fill: #5cb85c;;
}
/*hover state*/
.button.success-outline:hover,.menu-button.success-outline:hover,.toggle-button.success-outline:hover,
.split-menu-button.success-outline > .label:hover, .split-menu-button.success-outline > .arrow-button:hover {
    -fx-border-color: #5cb85c;;
    -fx-background-color: #5cb85c;;
    -fx-text-fill: white;
}
/*pressed selected*/
.button.success-outline:pressed, .button.success-outline:selected,
.menu-button.success-outline:pressed,.menu-button.success-outline:selected
,.toggle-button.success-outline:pressed,.toggle-button.success-outline:selected,
.split-menu-button.success-outline:pressed > .label, .split-menu-button.success-outline > .arrow-button:pressed {
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
    -fx-effect: innershadow(gaussian, #398439, 10, 0, 0, 3);
}

/*info*/

.button.info-outline,.menu-button.info-outline,.toggle-button.info-outline,
.split-menu-button.info-outline > .label,.split-menu-button.info-outline > .arrow-button {
    -fx-border-color: #5bc0de;
    -fx-text-fill: #5bc0de;
}
/*hover state*/
.button.info-outline:hover,.menu-button.info-outline:hover,.toggle-button.info-outline:hover,
.split-menu-button.info-outline > .label:hover, .split-menu-button.info-outline > .arrow-button:hover {
    -fx-border-color: #5bc0de;
    -fx-background-color: #5bc0de;
    -fx-text-fill: white;
}
/*pressed selected*/
.button.info-outline:pressed, .button.info-outline:selected,
.menu-button.info-outline:pressed,.menu-button.info-outline:selected
,.toggle-button.info-outline:pressed,.toggle-button.info-outline:selected,
.split-menu-button.info-outline:pressed > .label, .split-menu-button.info-outline > .arrow-button:pressed {
    -fx-background-color: #31b0d5;
    -fx-border-color: #269abc;
    -fx-effect: innershadow(gaussian, #269abc, 10, 0, 0, 3);
}

/*warning*/

.button.warning-outline,.menu-button.warning-outline,.toggle-button.warning-outline,
.split-menu-button.warning-outline > .label,.split-menu-button.warning-outline > .arrow-button {
    -fx-border-color: #f0ad4e;
    -fx-text-fill: #f0ad4e;
}
/*hover state*/
.button.warning-outline:hover,.menu-button.warning-outline:hover,.toggle-button.warning-outline:hover,
.split-menu-button.warning-outline > .label:hover, .split-menu-button.warning-outline > .arrow-button:hover {
    -fx-border-color: #f0ad4e;
    -fx-background-color: #f0ad4e;
    -fx-text-fill: white;
}
/*pressed selected*/
.button.warning-outline:pressed, .button.warning-outline:selected,
.menu-button.warning-outline:pressed,.menu-button.warning-outline:selected
,.toggle-button.warning-outline:pressed,.toggle-button.warning-outline:selected,
.split-menu-button.warning-outline:pressed > .label, .split-menu-button.warning-outline > .arrow-button:pressed {
    -fx-background-color: #ec971f;
    -fx-border-color: #d58512;
    -fx-effect: innershadow(gaussian, #d58512, 10, 0, 0, 3);
}

/*danger*/

.button.danger-outline,.menu-button.danger-outline,.toggle-button.danger-outline,
.split-menu-button.danger-outline > .label,.split-menu-button.danger-outline > .arrow-button {
    -fx-border-color: #d9534f;
    -fx-text-fill: #d9534f;
}
/*hover state*/
.button.danger-outline:hover,.menu-button.danger-outline:hover,.toggle-button.danger-outline:hover,
.split-menu-button.danger-outline > .label:hover, .split-menu-button.danger-outline > .arrow-button:hover {
    -fx-border-color: #d9534f;
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
}
/*pressed selected*/
.button.danger-outline:pressed, .button.danger-outline:selected,
.menu-button-outline.danger:pressed,.menu-button-outline.danger:selected
,.toggle-button.danger-outline:pressed,.toggle-button.danger-outline:selected,
.split-menu-button.danger-outline:pressed > .label, .split-menu-button.danger-outline > .arrow-button:pressed {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
    -fx-effect: innershadow(gaussian, #ac2925, 10, 0, 0, 3);
}

/*dark*/

.button.dark-outline,.menu-button.dark-outline,.toggle-button.dark-outline,
.split-menu-button.dark-outline > .label,.split-menu-button.dark-outline > .arrow-button {
    -fx-border-color: #343a40;
    -fx-text-fill: #343a40;
}
/*hover state*/
.button.dark-outline:hover,.menu-button.dark-outline:hover,.toggle-button.dark-outline:hover,
.split-menu-button.dark-outline > .label:hover, .split-menu-button.dark-outline > .arrow-button:hover {
    -fx-border-color: #343a40;
    -fx-background-color: #343a40;
    -fx-text-fill: white;
}
/*pressed selected*/
.button.dark-outline:pressed, .button.dark-outline:selected,
.menu-button.dark-outline:pressed,.menu-button.dark-outline:selected
,.toggle-button.dark-outline:pressed,.toggle-button.dark-outline:selected,
.split-menu-button.dark-outline:pressed > .label, .split-menu-button.dark-outline > .arrow-button:pressed {
    -fx-background-color: #343a40;
    -fx-border-color: #343a40;
    -fx-effect: innershadow(gaussian, #2a2e33, 10, 0, 0, 3);
}

/*light*/

.button.light-outline,.menu-button.light-outline,.toggle-button.light-outline,
.split-menu-button.light-outline > .label,.split-menu-button.light-outline > .arrow-button {
    -fx-border-color: #f8f9fa;
    -fx-text-fill: #f8f9fa;
}
/*hover state*/
.button.light-outline:hover,.menu-button.light-outline:hover,.toggle-button.light-outline:hover,
.split-menu-button.light-outline > .label:hover, .split-menu-button.light-outline > .arrow-button:hover {
    -fx-border-color: #f5f5f5;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #2a2e33;
}
/*pressed selected*/
.button.light-outline:pressed, .button.light-outline:selected,
.menu-button.light-outline:pressed,.menu-button.light-outline:selected
,.toggle-button.light-outline:pressed,.toggle-button.light-outline:selected,
.split-menu-button.light-outline:pressed > .label, .split-menu-button.light-outline > .arrow-button:pressed {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #f8f9fa;
    -fx-effect: innershadow(gaussian, #f5f5f5, 10, 0, 0, 3);
}
/*</editor-fold>*/
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Input fields">*/

.label-form-field-v {
    -fx-background-color: #cecece;
    -fx-border-color: #cecece;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-padding: 0 5 0 3;
    -fx-font-size: 11;
}

VBox > .label.form-field {
    -fx-background-color: #cecece;
    -fx-border-color: #cecece;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-padding: 0 5 0 3;
    -fx-font-size: 11;
}

/*.label-container {*/
/*    -fx-background-color: #cecece;*/
/*    -fx-border-color: #cecece;*/
/*    -fx-border-radius: 2 2 0 0;*/
/*    -fx-background-radius: 2 2 0 0;*/
/*    -fx-padding: 0 5 0 3;*/
/*    -fx-font-size: 11;*/
/*}*/

HBox > Field > .label-container {
    -fx-background-color: #cecece;
    -fx-border-color: #cecece;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-padding: 0 5 0 3;
    -fx-font-size: 11;
}

HBox >  Field > .label-container > .label {
    -fx-background-color: #cecece;
    -fx-border-color: #cecece;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-padding: 0 5 0 3;
    -fx-font-size: 11;
}


.label-form-field-negative-v {
    -fx-background-color: #313131;
    -fx-border-color: #313131;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-padding: 0 5 0 3;
    -fx-font-size: 11;
}

VBox > .label.form-field-negative {
    -fx-background-color: #313131;
    -fx-border-color: #313131;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-padding: 0 5 0 3;
    -fx-font-size: 11;
}

VBox > .text-field.form-field,
VBox > .text-field.combo-box,
VBox > .text-field.pane,
 VBox > .text-area.form-field,
 VBox > .text-area.combo-box,
 VBox > .text-area.pane{
    -fx-border-radius: 0 2 2 2;
    -fx-background-radius: 0 2 2 2;
}

.text-field-form-field-v {
    -fx-border-radius: 0 2 2 2;
    -fx-background-radius: 0 2 2 2;
}

.text-field {
    -fx-pref-height: 30;
}

.text-field.barcodeinput:focused {
    -fx-border-color: green;
    -fx-border-width: 3;
    -fx-effect: dropshadow(gaussian, green, 5, 0, 0, 0);
}

.text-field.barcodeoutput:focused {
    -fx-border-color: red;
    -fx-border-width: 3;
    -fx-effect: dropshadow(gaussian, red, 5, 0, 0, 0);
}

.combo-box, .choice-box {
    -fx-background-insets: 0;
    -fx-border-color: #cecece;
    -fx-padding: -1;
    -fx-border-width: 1;
}
.combo-box, .choice-box, .color-picker, .date-picker {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-pref-height: 30;
}

.combo-box:editable > .arrow-button {
    -fx-background-color: white;
}

.combo-box:editable > .arrow-button:hover {
    -fx-background-color: #e6e6e6;
}

.combo-box:editable > .arrow-button:pressed {
    -fx-effect: innershadow(gaussian, #adadad, 10, 0, 0, 3);
}

.combo-box > .text-input, .date-picker > .text-input {
    -fx-background-radius: 2 0 0 2;
    -fx-border-width: 0;
}

.text-field, .text-area {
    -fx-border-color: #cccccc;
    -fx-background-color: white;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-effect: innershadow(gaussian, transparent, 0, 0, 0, 0);
}

.text-field.form-field.no-validation {
    -fx-border-color: #d9534f;
    -fx-effect: dropshadow(gaussian, #d9534f, 5, 0, 0, 0);
    -fx-background-color:  white;
}

.text-field.form-field.no-editable,
 .text-area.form-field.no-editable{
    -fx-background-color:  #efefef;
    -fx-border-width: 1 1 1 1;
}

.text-field.form-field.no-editable-left,
 .text-area.form-field.no-editable-left{
    -fx-background-color:  #efefef;
    -fx-border-width: 1 0 1 1;
}

.text-field.form-field.no-editable-right,
 .text-area.form-field.no-editable-right{
    -fx-background-color:  #efefef;
    -fx-border-width: 1 1 1 0;
}

.text-field.form-field.primary{
    -fx-background-color: #b8daff;
    -fx-text-fill: #0062cc;
}

.text-field.form-field.secundary{
    -fx-background-color: #d6d8db;
    -fx-text-fill: #6e757b;
}

.text-field.form-field.info{
    -fx-background-color: #bee5eb;
    -fx-text-fill: #22656e;
}

.text-field.form-field.success{
    -fx-background-color: #c3e6cb;
    -fx-text-fill: #2b622b;
}

.text-field.form-field.warning{
    -fx-background-color: #ffeeba;
    -fx-text-fill: #9c7500;
}

.text-field.form-field.amber{
    -fx-background-color: #ffe390;
    -fx-text-fill: #664c00;
}

.text-field.form-field.danger{
    -fx-background-color: #f5c6cb;
    -fx-text-fill: #7d1e1b;
}

.text-field.form-field.dark{
    -fx-background-color: #c6c8ca;
    -fx-text-fill: #454d55;
}

.text-field.form-field.high-dark{
    -fx-background-color: #000;
    -fx-text-fill: #B6FF0D;
}

.text-field.primary{
    -fx-background-color: #b8daff;
    -fx-text-fill: #0062cc;
}

.text-field.secundary{
    -fx-background-color: #d6d8db;
    -fx-text-fill: #6e757b;
}

.text-field.info{
    -fx-background-color: #bee5eb;
    -fx-text-fill: #349dad;
}

.text-field.success{
    -fx-background-color: #c3e6cb;
    -fx-text-fill: #2b622b;
}

.text-field.warning{
    -fx-background-color: #ffeeba;
    -fx-text-fill: #9c7500;
}

.text-field.amber{
    -fx-background-color: #ffe390;
    -fx-text-fill: #664c00;
}

.text-field.danger{
    -fx-background-color: #f5c6cb;
    -fx-text-fill: #7d1e1b;
}

.text-field.dark{
    -fx-background-color: #c6c8ca;
    -fx-text-fill: #454d55;
}

.text-field.high-dark{
    -fx-background-color: #000;
    -fx-text-fill: #B6FF0D;
}

.text-field.mostruario{
    -fx-background-color: #f97793;
    -fx-text-fill: #232323;
}

.text-area.mostruario{
    -fx-background-color: #f97793;
    -fx-text-fill: #232323;
}

.text-area.info{
    -fx-background-color: #bee5eb;
    -fx-text-fill: #349dad;
}

.text-area.info .content{
    -fx-background-color: #bee5eb;
}

/*.text-field:focused, .text-area:focused {
    -fx-border-color: #802046;
    -fx-effect: dropshadow(gaussian, #802046, 5, 0, 0, 0);
}*/

.text-area .scroll-pane, .text-area .scroll-pane .content {
    -fx-background-color: white;
    -fx-background-radius: 2;
}

.text-field.input-group-prepend {
    -fx-border-color: #cccccc;
    -fx-background-color: white;
    -fx-border-radius: 0 2 2 0;
    -fx-background-radius: 0 2 2 0;
}

.text-field.input-group-apend {
    -fx-border-color: #cccccc;
    -fx-background-color: white;
    -fx-border-radius: 0 0 0 2;
    -fx-background-radius: 0 0 0 2;
}

.label.input-group-prepend {
    -fx-border-color: #cccccc;
    -fx-border-width: 1 0 1 1;
    -fx-background-color: #efefef;
    -fx-border-radius: 0 0 0 2;
    -fx-background-radius: 0 0 0 2;
    -fx-width: 30;
}

.label.input-group-apend {
    -fx-border-color: #cccccc;
    -fx-border-width: 1 1 1 0;
    -fx-background-color: #efefef;
    -fx-border-radius: 0 2 2 0;
    -fx-background-radius: 0 2 2 0;
    -fx-width: 30;
}

.label.input-group-middle {
    -fx-border-color: #cccccc;
    -fx-border-width: 1 0 1 0;
    -fx-background-color: #efefef;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-width: 30;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Tab pane">*/

.tab-pane-principal .tab-header-background {
    -fx-background-color: -tab-pane-color ;
}
.tab-pane-principal.plain .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane-principal .tab-header-area .tab {
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 3 10 5 10;
    -fx-background-insets: 0;
}

.tab-pane-principal .tab-header-area .tab .tab-label {
    -fx-text-fill: -principal-color;
}

.tab-pane-principal .tab-header-area .tab:hover {
    -fx-background-color: -tab-hover-color;
}
.tab-pane-principal .tab-header-area .tab:disabled:hover {
    -fx-background-color: transparent;
}

.tab-pane-principal .tab-header-area .tab:selected {
    -fx-focus-color: transparent;
    -fx-border-color: #dddddd #dddddd -tab-label #dddddd;
    -fx-background-color: -principal-color;
}
.tab-pane-principal .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: #fff;
}
.tab-pane-principal > .tab-content-area {
    -fx-background-color: white;
}

.tab-pane-principal .tab-header-area .tab .tab-label {
    -fx-focus-color: transparent;
}

.tab-pane-principal:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane-principal > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: #337ab7;
}
.tab-pane-principal > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-close-button {
    -fx-background-color: #337ab7;
}
.tab-pane-principal > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Scroll and Corners (Não editado)">*/
.scroll-bar {
    -fx-background-color: #fafafa;
    -fx-background-radius: 0;
    -fx-block-increment: 50;
}

.corner {
    -fx-background-color: transparent;
}

.no-corner {
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 2;
    -fx-border-radius: 2 2 2 2;
    -fx-background-radius: 2 2 2 2;
}

.corner-up-left {
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 2;
    -fx-border-radius: 0 2 2 2;
    -fx-background-radius: 0 2 2 2;
}

.corner-up-left-negative {
    -fx-border-color: #313131;
    -fx-border-radius: 2;
    -fx-border-radius: 0 2 2 2;
    -fx-background-radius: 0 2 2 2;
}

.corner-up-right {
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 2;
    -fx-border-radius: 2 0 2 2;
    -fx-background-radius: 2 0 2 2;
}

.corner-down-left {
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 2;
    -fx-border-radius: 2 2 2 0;
    -fx-background-radius: 2 2 2 0;
}

.corner-down-right {
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 2;
    -fx-border-radius: 2 2 0 2;
    -fx-background-radius: 2 2 0 2;
}

.scroll-bar .decrement-button, .scroll-bar .decrement-arrow {
    visibility: hidden;
    -fx-pref-height: 1;
    -fx-pref-width: 1;
}

.scroll-bar .increment-button, .scroll-bar .increment-arrow {
    visibility: hidden;
    -fx-pref-height: 1;
    -fx-pref-width: 1;
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
}

.scroll-bar:horizontal {
    -fx-pref-height: 10;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #c9c9c9;
    -fx-background-insets: 2 0 2 0;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #c9c9c9;
    -fx-background-insets: 0 2 0 2;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #b5b5b5;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #a0a0a0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent, rgb(96, 96, 96), rgb(96, 96, 96);
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Menu">*/
.menu-bar {
    -fx-background-color: -menu-bar-color;
}
.menu-bar > .container > .menu-button {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: -menu-bar-color;
}
.menu-bar > .container > .menu-button > *{
    -fx-text-fill: -text-fill;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -menu-hover-color;
}

.menu-bar > .container > .menu-button:hover > *,
.menu-bar > .container > .menu-button:showing > *{
    -fx-text-fill: -menu-text-hover;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Menu iten">*/
.menu-item {
    -fx-min-width: 200;
}

.menu-item:focused {
    -fx-background-color: -menu-item-focus-color;
}
.menu-item:focused > * {
    -fx-text-fill: #262626;
}
.menu-item:focused .arrow {
    -fx-background-color: #333333;
}

.check-menu-item:hover > .left-container > .check,
.check-menu-item:focused > .left-container > .check,
.radio-menu-item:hover > .left-container > .radio,
.radio-menu-item:focused > .left-container > .radio {
    -fx-background-color: #333333;
}

.context-menu {
    -fx-border-color: #bebec0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.context-menu > * {
    -fx-padding: 3 0 3 0;
}

.separator {
    -fx-padding: 3 0 3 0;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Color palette and Pagination (Não editado)">*/

.color-palette {
    -fx-background-color: white;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: -1;
}
.pagination > .pagination-control > .control-box > .left-arrow-button {
    -fx-border-radius: 3 0 0 3;
    -fx-border-insets: 0 0 0 7;
    -fx-background-insets: 0 0 0 7, 0 0 0 5, 1 1 1 6, 2 2 2 7;
}
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-border-radius: 0 3 3 0;
    -fx-border-insets: 0 7 0 0;
    -fx-background-insets: 0 7 -1 0, 0 5 0 0, 1 6 1 1, 2 7 2 2;
}
.pagination > .pagination-control > .control-box > .number-button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Progress bar (Não editado)">*/
.progress-bar > .track {
    -fx-pref-height: 10;
    -fx-background-radius: 3;
    -fx-effect: innershadow(gaussian, #e4e4e4, 4, 0, 0, 1);
    -fx-background-color: #f5f5f5;
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-color: #337ab7;
}

.progress-bar.success > .bar {
    -fx-background-insets: 0;
    -fx-background-color: #5cb85c;
}

.progress-bar.info > .bar {
    -fx-background-insets: 0;
    -fx-background-color: #5bc0de;
}

.progress-bar.warning > .bar {
    -fx-background-insets: 0;
    -fx-background-color: #f0ad4e
}

.progress-bar.danger > .bar {
    -fx-background-insets: 0;
    -fx-background-color: #d9534f;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Tooltip">*/

.tooltip {
    -fx-background: white;
    -fx-text-fill: #333333;
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-color: #C0C0C0;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
}

.tooltip.success {
    -fx-background: #dff0d8;
    -fx-background-color: #dff0d8;
    -fx-text-fill: #99bb96;
    -fx-border-color: #d6e9c6;
}

.tooltip.info {
    -fx-background: #d8ecf6;
    -fx-background-color: #d8ecf6;
    -fx-text-fill: #31708f;
    -fx-border-color: #bce8f1;
}

.tooltip.warning {
    -fx-background: #fcf8e3;
    -fx-background-color: #fcf8e3;
    -fx-text-fill: #8a6e3c;
    -fx-border-color: #faebcc;
}

.tooltip.danger {
    -fx-background: #f2dede;
    -fx-background-color: #f2dede;
    -fx-text-fill: #a94442;
    -fx-border-color: #ebccd1;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Titled pane">*/

.titled-pane > .title {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #dddddd;
    -fx-background-radius: 1 1 0 0, 2 2 0 0, 1 1 0 0;
    -fx-border-radius: 1 1 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 5
}

.titled-pane > .content {
    -fx-background-color: #fafafa;
    -fx-background-radius: 0 0 2 2;
    -fx-border-radius: 0 0 2 2;
    -fx-border-color: #dddddd;
}

.titled-pane.deliz {
    -fx-text-fill: white;
}

.titled-pane.deliz > .title {
    -fx-background-color: #802046;
    -fx-border-color: #802046;
}

.titled-pane.deliz > .content {
    -fx-border-color: #802046;
}

.titled-pane.primary {
    -fx-text-fill: white;
}

.titled-pane.primary > .title {
    -fx-background-color: #337ab7;
    -fx-border-color: #337ab7;
}

.titled-pane.primary > .content {
    -fx-border-color: #337ab7;
}

.titled-pane.success .arrow,
.titled-pane.filter .arrow,
.titled-pane.info .arrow,
.titled-pane.warning .arrow,
.titled-pane.danger .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

.titled-pane.success {
    -fx-text-fill: #3c763d;
}

.titled-pane.success > .title {
    -fx-background-color: #dff0d8;
    -fx-border-color: #d6e9c6;
}

.titled-pane.success > .content {
    -fx-border-color: #d6e9c6;
}

.titled-pane.info {
    -fx-text-fill: #31708f;
}

.titled-pane.info > .title {
    -fx-background-color: #d9edf7;
    -fx-border-color: #bce8f1;
}

.titled-pane.info > .content {
    -fx-border-color: #bce8f1;
}

.titled-pane.filter {
    -fx-text-fill: #6e564b;
}

.titled-pane.filter > .title {
    -fx-background-color: #ffd6be;
    -fx-border-color:  #ffd4b6;
}

.titled-pane.filter > .content {
    -fx-border-color:  #ffd4b6;
}


.titled-pane.warning {
    -fx-text-fill: #8a6d3b;
}

.titled-pane.warning > .title {
    -fx-background-color: #fcf8e3;
    -fx-border-color: #faebcc;
}

.titled-pane.warning > .content {
    -fx-border-color: #faebcc;
}

.titled-pane.danger {
    -fx-text-fill: #a94442;
}

.titled-pane.danger > .title {
    -fx-background-color: #f2dede;
    -fx-border-color: #eacbd0;
}

.titled-pane.danger > .content {
    -fx-border-color: #eacbd0;
}

.accordion > .titled-pane > .title,
.accordion > .titled-pane > .content {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Tool bar (Não editado)">*/

.tool-bar:vertical { /* left */
    -fx-border-color: transparent #dddddd transparent transparent;
}

.tool-bar { /* top */
    -fx-background-color: white;
    -fx-border-color: transparent transparent #dddddd transparent;
}

.tool-bar:vertical {
    -fx-background-insets: 0, 0 1 0 0;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Table view">*/

/*table view columns*/
.filler,.column-header,.show-hide-columns-button {
    -fx-background-color: #dddddd, white, #f5f5f5;
    -fx-padding: -5 0 -3 0;
}
.show-hide-columns-button {
    -fx-border-width: 0;
    -fx-background-insets: 0 0 1 1;
}
.column-header:hover,.show-hide-columns-button:hover {
    -fx-background-color: #dddddd, white, #f8f8f8;
    -fx-padding: -5 0 -3 0;
}
.column-header-background > .filler {
    -fx-border-color: transparent #dddddd transparent transparent;
    -fx-border-insets: 0 1 0 0;
}
.column-drag-header {
    -fx-background-color: #2fb254;
}
.table-view {
    -fx-font-size: 11;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: #269abc;
    -fx-text-fill: #000;
    -fx-font-style: italic;
}

.table-row:selected {
    -fx-background-color: #269abc;
    -fx-text-fill: #000;
    -fx-font-style: italic;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.cell.border-cell {
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 0 1 1 0;
}

.table-row-cell .button {
    -fx-border-width: 1 1 1 1;
}

.table-row-primary{
    -fx-background-color: -fx-table-cell-border-color, #b8daff;
    -fx-text-fill: #000;
}

.table-row-secundary{
    -fx-background-color: -fx-table-cell-border-color, #d6d8db;
    -fx-text-fill: #000;
}

.table-row-info{
    -fx-background-color: -fx-table-cell-border-color, #bee5eb;
    -fx-text-fill: #000;
}

.table-row-info-dark{
    -fx-background-color: -fx-table-cell-border-color, #7FC8D4;
    -fx-text-fill: #000;
}

.table-row-high-dark{
    -fx-background-color: -fx-table-cell-border-color, #000000;
    -fx-text-fill: #BEFC05;
}
.table-row-high-dark.table-row-cell .text{
    -fx-fill: #BEFC05;
}
.warning-column.table-cell .text{
    -fx-fill: #000;
}
.danger-column.table-cell .text{
    -fx-fill: #000;
}


.table-row-success{
    -fx-background-color: -fx-table-cell-border-color, #c3e6cb;
    -fx-text-fill: #000;
}

.table-row-mostruario{
    -fx-background-color: -fx-table-cell-border-color, #f97793;
    -fx-text-fill: #000;
}

.table-row-alternate-on{
    -fx-background-color: -fx-table-cell-border-color, #f3f3f3;
}

.table-row-alternate-off{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
}

.table-row-warning{
    -fx-background-color: -fx-table-cell-border-color, #ffeeba;
    -fx-text-fill: #000;
}

.table-row-amber{
    -fx-background-color: -fx-table-cell-border-color, #ffe390;
    -fx-text-fill: #000;
}

.table-row-danger{
    -fx-background-color: -fx-table-cell-border-color, #f5c6cb;
    -fx-text-fill: #000;
}

.table-row-danger-dark{
    -fx-background-color: -fx-table-cell-border-color, #E69EA5;
    -fx-text-fill: #000;
}

.table-row-dark{
    -fx-background-color: -fx-table-cell-border-color, #c6c8ca;
    -fx-text-fill: #000;
}

.table-row-deliz{
    -fx-background-color: -fx-table-cell-border-color, #881f3a;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.table-row-braspress{
    -fx-background-color: -fx-table-cell-border-color, #1c2e89;
    -fx-text-fill: #fc9303;
    -fx-font-weight: bold;
}

.column-header.header-primary{
    -fx-background-color: -fx-table-cell-border-color, #b8daff;
    -fx-text-fill: #0062cc;
}

.column-header.header-secundary{
    -fx-background-color: -fx-table-cell-border-color, #d6d8db;
    -fx-text-fill: #6e757b;
}

.column-header.header-info{
    -fx-background-color: -fx-table-cell-border-color, #bee5eb;
    -fx-text-fill: #349dad;
}

.column-header.header-success{
    -fx-background-color: -fx-table-cell-border-color, #c3e6cb;
    -fx-text-fill: #2b622b;
}

.column-header.header-warning{
    -fx-background-color: -fx-table-cell-border-color, #ffeeba;
    -fx-text-fill: #9c7500;
}

.column-header.header-amber{
    -fx-background-color: -fx-table-cell-border-color, #ffe390;
    -fx-text-fill: #664c00;
}

.column-header.header-danger{
    -fx-background-color: -fx-table-cell-border-color, #f5c6cb;
    -fx-text-fill: #7d1e1b;
}

.column-header.header-dark{
    -fx-background-color: -fx-table-cell-border-color, #c6c8ca;
    -fx-text-fill: #454d55;
}

.column-header.header-high-dark{
    -fx-background-color: -fx-table-cell-border-color, #000;
}

.column-header.header-high-dark .label{
    -fx-text-fill: #BEFC05;
}

.financial-row-success{
    -fx-text-fill: #106b21;
}

.financial-row-danger{
    -fx-text-fill: #e71837;
}

.lg-table .table-view .column-header {
    -fx-font-size: 20;
}

.lg-table .table-view{
    -fx-font-size: 32;
}

.lg-table .table-row-cell{
    -fx-padding: 0.0em; /* 0 */
}

.sit-cli-1 {
    -fx-background-color: #000000;
    -fx-text-fill: #18ff00;
}

.sit-cli-in {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}

.sit-cli-g1 {
    -fx-background-color: #fe080f;
    -fx-text-fill: #000000;
}

.sit-cli-g2 {
    -fx-background-color: #7C3206;
    -fx-text-fill: #FFFFFF;
}

.sit-cli-g3 {
    -fx-background-color: #eff144;
    -fx-text-fill: #000000;
}

.sit-cli-g4 {
    -fx-background-color: #44b443;
    -fx-text-fill: #000000;
}

.sit-cli-g5 {
    -fx-background-color: #3175d2;
    -fx-text-fill: #000000;
}

.classe-cid-s {
    -fx-background-color: #b65fdb;
    -fx-text-fill: #000000;
}

.classe-cid-e {
    -fx-background-color: #d1cfd1;
    -fx-text-fill: #000000;
}

.classe-cid-p {
    -fx-background-color: #fa9e41;
    -fx-text-fill: #000000;
}

.classe-cid-v {
    -fx-background-color: #00d3ff;
    -fx-text-fill: #000000;
}

.marca-d {
    -fx-background-color: #5d57ff;
    -fx-text-fill: #000000;
}

.marca-f {
    -fx-background-color: #ee64ff;
    -fx-text-fill: #000000;
}

.column-header.colecao-w20-header {
    -fx-background-color: #ff9a03;
    -fx-text-fill: #000000;
}

.column-header.colecao-ss21-header  {
    -fx-background-color: #fff200;
    -fx-text-fill: #000000;
}

.column-header.colecao-s21-header  {
    -fx-background-color: #00e7ff;
    -fx-text-fill: #000000;
}

.column-header.primary {
    -fx-background-color: #65E8FC;
    -fx-text-fill: #000000;
}

.column-header.secundary {
    -fx-background-color: #00e7ff;
    -fx-text-fill: #000000;
}

.column-header.danger-header {
    -fx-background-color: #E64A49;
    -fx-text-fill: #000000;
}

.danger-column.table-cell {
    -fx-background-color: #E68B9C;
    -fx-text-fill: #000000;
}

.info-column.table-cell {
    -fx-background-color: -fx-table-cell-border-color, #bee5eb;
    -fx-text-fill: #000000;
}

.column-header.warning-header {
    -fx-background-color: #E4FF5F;
    -fx-text-fill: #000000;
}

.warning-column.table-cell {
    -fx-background-color: #FFF190;
    -fx-text-fill: #000000;
}

.column-header.success {
    -fx-background-color: #84F25C;
    -fx-text-fill: #000000;
}

.column-header.header-high-dark .label{
    -fx-text-fill: #BEFC05;
}

.column-header.dark {
    -fx-background-color: #000000;
    -fx-text-fill: #B6FF0D;
}

.column-header.colecao-w21-header  {
    -fx-background-color: #22ff00;
}

.column-header.colecao-s-clientes-header  {
    -fx-background-color: #ff1e25;
}

.column-no-noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/*
 * hide tableview header:
 *   hide-tableview-header: our custom selector, we don't want to apply the hidden header on all tableviews
 *   column-header-background: tableview internal header
 */
.tableview-header-hidden .column-header-background {
    visibility: hidden;
    -fx-padding: -1.0em;

}

/* Hide the horizontal scrollbar of the summary table
 * derived from http://blog.ngopal.com.np/2012/09/25/how-to-bind-vertical-scroll-in-multi-tableview/
 */
.sumtable .scroll-bar:horizontal .track{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;

}

.sumtable .scroll-bar:horizontal .increment-button ,
.sumtable .scroll-bar:horizontal .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 0 0;
}

.sumtable  .scroll-bar:horizontal .increment-arrow,
.sumtable  .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

.sumtable .scroll-bar:horizontal .thumb {
    -fx-background-color:transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;
    -fx-padding:0px;

}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Tree Table view">*/
.tree-table-view {
    -fx-font-size: 11;
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #F9F9F9;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
}

.tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}

.tree-table-row-primary,
.tree-table-row-primary:odd{
    -fx-background-color: -fx-table-cell-border-color, #b8daff;
    -fx-text-fill: #0062cc;
}

.tree-table-row-secundary,
.tree-table-row-secundary:odd{
    -fx-background-color: -fx-table-cell-border-color, #d6d8db;
    -fx-text-fill: #6e757b;
}

.tree-table-row-info,
.tree-table-row-info:odd{
    -fx-background-color: -fx-table-cell-border-color, #bee5eb;
    -fx-text-fill: #349dad;
}

.tree-table-row-success,
.tree-table-row-success:odd{
    -fx-background-color: -fx-table-cell-border-color, #c3e6cb;
    -fx-text-fill: #2b622b;
}

.tree-table-row-mostruario,
.tree-table-row-mostruario:odd{
    -fx-background-color: -fx-table-cell-border-color, #f97793;
    -fx-text-fill: #232323;
}

.tree-table-row-warning,
.tree-table-row-warning:odd{
    -fx-background-color: -fx-table-cell-border-color, #ffeeba;
    -fx-text-fill: #9c7500;
}

.tree-table-row-amber,
.tree-table-row-amber:odd{
    -fx-background-color: -fx-table-cell-border-color, #ffe390;
    -fx-text-fill: #664c00;
}

.tree-table-row-danger,
.tree-table-row-danger:odd{
    -fx-background-color: -fx-table-cell-border-color, #f5c6cb;
    -fx-text-fill: #7d1e1b;
}



.tree-table-row-dark,
.tree-table-row-dark:odd{
    -fx-background-color: -fx-table-cell-border-color, #c6c8ca;
    -fx-text-fill: #454d55;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Split pane (Não editado)">*/

/*split pane*/
.split-pane > .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: #eeeeee;
    -fx-pref-width: 8;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-insets: 0, 0 1 0 1;
    -fx-border-width: 0 1 0 1;
}
/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-border-width: 1 0 1 0;
}
.split-pane > .split-pane-divider:hover {
    -fx-background-color: #E0E0E0;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Check box (Não editado)">*/
.check-box > .box {
    -fx-background-radius: 3;
    /*-fx-padding: 0.166667em 0.166667em 0.25em 0.25em; !* 2 2 3 3 *!*/
    -fx-padding:0;
    -fx-border-color: #56c0e0;
    -fx-border-radius: 3;
    -fx-background-color: white;
}
.check-box > .box > .mark {
    -fx-background-color: null;
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
    -fx-shape: "M927.936 272.992l-68.288-68.288c-12.608-12.576-32.96-12.576-45.536 0l-409.44 409.44-194.752-196.16c-12.576-12.576-32.928-12.576-45.536 0l-68.288 68.288c-12.576 12.608-12.576 32.96 0 45.536l285.568 287.488c12.576 12.576 32.96 12.576 45.536 0l500.736-500.768c12.576-12.544 12.576-32.96 0-45.536z";
    -fx-background-insets: -3 -3 1 0;
}
.check-box {
    -fx-label-padding: 0.2em 0.0em 0.3em 0.416667em; /* 0 0 0 5 */
    -fx-text-fill: -fx-text-background-color;
    -fx-padding: 0 0 2 0;
}
.check-box:indeterminate > .box {
    -fx-padding: 0;
}
.check-box:selected > .box > .mark {
    -fx-background-color: linear-gradient(to bottom, #56c0e0, #40b8dc);
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Radio button (Não editado)">*/

.radio-button {
    -fx-label-padding: 0.0em 0.0em 0.1em 0.416667em; /* 0 0 0 5 */
    -fx-text-fill: -fx-text-background-color;
    -fx-padding: 0 0 .5 0;
}
.radio-button > .radio,
.radio-button:focused > .radio  {
    -fx-border-color: #56c0e0;
    -fx-border-radius: 1em;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 1 2 3 2;
    -fx-background-color: white;
}
.radio-button > .radio > .dot {
    -fx-background-color: transparent;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.333333em; /* 4 -- radius of the inner black dot when selected */
    -fx-background-insets: 3 2 1 2;
}
.radio-button:selected > .radio,.radio-button:hover > .radio {
    -fx-fill-color: #56c0e0;
}
.radio-button:pressed > .radio {
    -fx-background-color: #50c0e2;
}
.radio-button:selected > .radio > .dot {
    -fx-background-color: #56c0e0;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Commun Check box and Radio Button (Não editado)">*/

/*common things*/
.check-box:hover > .box,
.check-box:selected > .box,
.radio-button:hover > .radio,
.radio-button:selected > .radio {
    -fx-background-color: linear-gradient(to bottom, white, #efefef);
}

.check-box:pressed > .box,
.radio-button:pressed > .radio {
    -fx-background-color: #50c0e2;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Slider (Não editado)">*/

.slider .thumb {
    -fx-background-color: #dad9da, white, #3fbadf;
    -fx-background-insets: 0, 1, 5;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.2), 5, 0.0 , 0, 0);
}
.slider .thumb:hover {
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.4), 5, 0.0 , 0, 0);
}
.slider .track {
    -fx-background-color: #dad9da, white;
    -fx-background-insets: -1, 0, 1;
    -fx-pref-height: 5;
}
.slider:vertical .track {
    -fx-pref-width: 5;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="BID Representante">*/
.gride-pane > .blocoJornada {
    -fx-background-color: red;
}
/*</editor-fold>*/

/* <editor-fold defaultstate="collapsed" desc="ToggleSwith ControlsFX"> */
.tsControls .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-border-color: #ffaf9e;
    -fx-border-radius: 20;
    -fx-border-width: .5;
}

.tsControls:selected .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-border-color: #8fefae;
    -fx-border-radius: 20;
    -fx-border-width: .5;
}

.tsControls .thumb-area {
    -fx-background-color: #ffdcd5;
    -fx-pref-height: 20;
    -fx-pref-width: 40;
    -fx-border-radius: 3;
}

.tsControls:selected .thumb-area {
    -fx-background-color: #c0f6d1;
    -fx-pref-height: 20;
    -fx-pref-width: 40;
}
/* </editor-fold> */

.header-window-base{
    -fx-background-color: -principal-color;
}
.scene-home {
    -fx-background-color: -principal-color;
}
.generic-filter {
    -fx-background-color: -background-color;
}
.menu-bar-background{
    -fx-background-color: -menu-bar-color;
}
.gridBidJornada{
    -fx-background-color: #FF69B4;
}
.gridBidPerformance{
    -fx-background-color: #FFB5DA;
}

.back_red_yellow {
-fx-background-image: url("../images/background_red_yellow.png");
-fx-background-repeat: repeat;
}

.back_red_green {
-fx-background-image: url("../images/background_red_green.png");
-fx-background-repeat: repeat;
}

.large-scrollbar-tableview .scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-padding : 15px;
}
.large-scrollbar-tableview .scroll-bar:vertical .thumb:hover {
    -fx-padding : 15px;
}

.large-scrollbar-tableview .scroll-bar:vertical .track{
    -fx-padding : 15px;
}

.large-scrollbar-tableview .increment-button, .large-scrollbar-tableview .decrement-button {
    -fx-padding : 15px;
}

.jfx-chip-view {
    -fx-background-color: WHITE;
    -fx-padding: 16;
}

.jfx-chip-view .chips-pane > .text-area {
    -fx-padding: 8 0 8 0;
}

.jfx-chip-view .chips-pane .jfx-chip .chip-icon {
    -jfx-size: 20;
    -fx-background-color: #3f51b5;
}

.jfx-chip-view .chips-pane .jfx-chip .heart {
    -jfx-size: 20;
    -fx-background-color: #D34336;
}

.jfx-chips-popup {
    -jfx-cell-limit: 3;
}

.jfx-chips-popup .autocomplete-list {
    -fx-fixed-cell-size: 32;
    -fx-background-insets: 0.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 5, 0.06, -1, 2);
}

.jfx-chips-popup .autocomplete-list .jfx-list-cell {
    -fx-text-fill: rgba(0, 0, 0, .87);
}

.proposicaoDlz {
    -fx-background-color: #002856;
    -fx-text-background-color: #E09A00;
    -fx-text-fill: #E09A00;
    -fx-border-color: #E09A00;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.performanceDlz {
    -fx-background-color: #B5B5B5;
    -fx-text-background-color: #434343;
    -fx-text-fill: #434343;
    -fx-border-color: #434343;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.pgDlz {
    -fx-background-image: url("../images/bid/pg_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.prDlz {
    -fx-background-image: url("../images/bid/pr_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.cdDlz {
    -fx-background-image: url("../images/bid/cd_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.pvDlz {
    -fx-background-image: url("../images/bid/pv_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.pmDlz {
    -fx-background-image: url("../images/bid/pm_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.tpDlz {
    -fx-background-image: url("../images/bid/tp_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.vpDlz {
    -fx-background-image: url("../images/bid/vp_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.kaDlz {
    -fx-background-image: url("../images/bid/ka_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.tfDlz {
    -fx-background-image: url("../images/bid/tf_dlz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}

.proposicaoFdl {
    -fx-background-color: #EEAB9B;
    -fx-text-background-color: #281f1d;
    -fx-text-fill: #281f1d;
    -fx-border-color: #281f1d;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.performanceFdl {
    -fx-background-color: #FFE0D6;
    -fx-text-background-color: #281f1d;
    -fx-text-fill: #281f1d;
    -fx-border-color: #281f1d;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.pmFdl {
    -fx-background-image: url("../images/bid/pm_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.pgFdl {
    -fx-background-image: url("../images/bid/pg_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.prFdl {
    -fx-background-image: url("../images/bid/pr_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.cdFdl {
    -fx-background-image: url("../images/bid/cd_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.pvFdl {
    -fx-background-image: url("../images/bid/pv_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.tpFdl {
    -fx-background-image: url("../images/bid/tp_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.vpFdl {
    -fx-background-image: url("../images/bid/vp_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.kaFdl {
    -fx-background-image: url("../images/bid/ka_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}
.tfFdl {
    -fx-background-image: url("../images/bid/tf_fdl.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}

.classeCidadeV {
    -fx-background-color: -fx-table-cell-border-color, #00FFFF;
    -fx-text-fill: #162929;
}
.classeCidadeP {
    -fx-background-color:  -fx-table-cell-border-color, #FF8C00;
    -fx-text-fill: #2c1b0c;
}
.classeCidadeS {
    -fx-background-color: -fx-table-cell-border-color, #9932CC;
    -fx-text-fill: #f1def7;
}
.classeCidadeE {
    -fx-background-color: -fx-table-cell-border-color, #A9A9A9;
    -fx-text-fill: #1f1f1f;
}
.text-field.form-field.classeCidadeV {
    -fx-background-color: #00FFFF;
    -fx-text-fill: #162929;
}
.text-field.form-field.classeCidadeP {
    -fx-background-color:  #FF8C00;
    -fx-text-fill: #2c1b0c;
}
.text-field.form-field.classeCidadeS {
    -fx-background-color: #9932CC;
    -fx-text-fill: #f1def7;
}
.text-field.form-field.classeCidadeE {
    -fx-background-color: #A9A9A9;
    -fx-text-fill: #1f1f1f;
}


.popover {
    -fx-text-fill: #000 !important;
}

.popover > .label {
    -fx-text-fill: #000 !important;
}

.popover > .text {
    -fx-text-fill: #000 !important;
}

.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7));
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(30 , 30, 30, .95);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

.popover > .content {

 }

.popover > .content > .title > .text  {
  -fx-text-fill: #000 !important;
}

 popover  > .content > .accordion > .titled-pane > .title > .arrow-button > .arrow {
     -fx-pref-height: 34.0 !important;
 }

 .popover  > .content > .accordion > .titled-pane > .title > .arrow-button {
     -fx-background-color: yellow !important;
     -fx-fill:yellow !important;
 }

 .text-popover {
    -fx-text-fill: #000 !important;
 }

.chip-form > .jfx-chip-view {
    -fx-background-color: TRANSPARENT;
}

.chip-form > .jfx-chip-view .chips-pane {
    -fx-background-color: TRANSPARENT;
    -fx-vgap: 4;
    -fx-hgap: 6;
}

.chip-form > .jfx-chip-view .chips-pane > .text-area,
.chip-form > .jfx-chip-view .chips-pane > .text-area .scroll-pane,
.chip-form > .jfx-chip-view .chips-pane > .text-area .scroll-pane .viewport,
.chip-form > .jfx-chip-view .chips-pane > .text-area:focused,
.chip-form > .jfx-chip-view .chips-pane > .text-area:focused .scroll-pane {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.chip-form > .jfx-chip-view .chips-pane > .text-area {
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.chip-form > .jfx-chip-view .chips-pane > .text-area .content,
.chip-form > .jfx-chip-view .chips-pane > .text-area:focused .content{
    -fx-background-color:TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-padding: 0 0 0 0;
}

.chip-form > .jfx-chip-view .chips-pane .editor{
    -fx-min-width: 100px;
}

.chip-form > .jfx-chip-view .jfx-chip > HBox{
    -fx-font-size: 8.0;
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 20px;
    -fx-padding: 5px 8px 5px 12px;
    -fx-pref-height: 24px;
    -fx-alignment: center-left;
    -fx-spacing: 8;
}