.bar-menu {
    -fx-background-color: slategray;
}

.clear-background-border {
    -fx-background-color: transparent;
    -fx-border-color:  transparent;
    -fx-border-width: 0;
}

.table-log {
    -fx-font-size: 10 em;
    -fx-alignment: center;
}

.table-log-bold {
    -fx-font-size: 12 em;
    -fx-font-weight: bold;
}

.sd-cell-align-center {
    -fx-text-alignment: center;
}

.cell-danger {
    -fx-background-color: #c9302c;
}

.cell-success {
    -fx-background-color: #398439;
}

.cell-info {
    -fx-background-color: #0088cc;
}

.cell-warning {
    -fx-background-color: #fbb34e;
}

.toggle-button {
    -fx-text-fill: black;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-text-fill: black;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
}

.statusImpresso {
    -fx-background-color: #faff00;
    -fx-control-inner-background: #faff00;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.statusLido {
    -fx-background-color: skyblue;
    -fx-control-inner-background: skyblue;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.statusExpedido {
    -fx-background-color: palegreen;
    -fx-control-inner-background: palegreen;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.statusFaturado {
    -fx-background-color: burlywood;
    -fx-control-inner-background: burlywood;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.statusImpresso:cell-selection {
    -fx-background-color: blue;
    -fx-font-weight: bold;
}

.table-row:selected {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: #00BFFF;
    -fx-text-fill: #000000;
    -fx-background-color: #CCCCCC;
}

#menulateral .item_menu{
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: lightcoral;
    -fx-font-size: 1.17em; /* 12 */
    -fx-text-fill: #751414;
    -fx-text-align: left;
    -fx-underline: false;
}

#menulateral .item_menu:focused {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #FFC0CB;
    -fx-underline: false;
}

#menulateral .item_menu:hover {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #FFC0CB;
    -fx-underline: false;
}

#menulateral .item_menu:visited{
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #FFC0CB;
    -fx-underline: false;
}

#menulateral .item_menu:pressed {
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #FFC0CB;
    -fx-underline: false;
}

/*
.titled-pane
{
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused
{
}
.titled-pane > .title
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-color: lightcoral;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10
}

.titled-pane:focused > .title
{
    -fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.titled-pane > *.content
{
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: white;
}
*/

.spreadsheet {
    -fx-font-size: 11 em;
}

.cell-spreadsheet .table-row-cell {
    -fx-background-color: transparent;
}

/* NORMAL CELL */
.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
    -fx-background-color: #FFDA8C;
    -fx-border-color: #a9a9a9;
    -fx-border-width : 0.2px;
    -fx-text-fill: -fx-selection-bar-text;

}
.spreadsheet-cell:hover,
.spreadsheet-cell:filled:focused {
    -fx-background-color: #988490;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.spreadsheet-cell{
    -fx-padding: 0 0 0 0.2em;
    -fx-border-color: black;
    -fx-border-width : 0.1px;
    -fx-background-color: -fx-table-cell-border-color,white;
}

.spreadsheet-cell-inter{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.spreadsheet-cell-totals {
    -fx-background-color: #4682B4;
    -fx-text-fill: #FFFFFF;
}

.spreadsheet-cell-header-table {
    -fx-background-color: #AAAAAA;
}

.spreadsheet-cell-vend-pend {
    -fx-background-color: #FFFF00;
}

.spreadsheet-cell-concentrado {
    -fx-background-color: #FFDEAD;
}

.spreadsheet-cell-meta {
    -fx-background-color: #FFFACD;
}

.spreadsheet-cell-indice {
    -fx-background-color: #F5FFFA;
}

.spreadsheet-cell-projet {
    -fx-background-color: #DAA520;
}

.spreadsheet-cell-pr-meta {
    -fx-background-color: #000;
    -fx-text-fill: #FFFFFF;
}

.spreadsheet-cell-producao {
    -fx-background-color: #B0E0E6;
}

.spreadsheet-cell-estoq-most {
    -fx-background-color: #BBBBBB;
}

.spreadsheet-cell-sld-neg {
    -fx-background-color: #FA8072;
    -fx-text-fill: #800000;
}

.spreadsheet-cell-sld-pos {
    -fx-background-color: #98FB98;
    -fx-text-fill: #006400;
}

.spreadsheet-cell-confirm {
    -fx-background-color: #66CDAA;
}

.spreadsheet-cell-total-lote {
    -fx-background-color: #F08080;
}

.spreadsheet-cell-status-limit {
    -fx-background-color: #FF0000;
    -fx-text-fill: #fff;
}

.spreadsheet-cell-status-encerrado {
    -fx-background-color: #0000FF;
    -fx-text-fill: #fff;
}

.spreadsheet-cell-status-livre {
    -fx-background-color: #32CD32;
}

.spreadsheet-cell-status-livre-com {
    -fx-background-color: #006400;
    -fx-text-fill: #fff;
}

.tooltip {
    -fx-background-radius: 0px;
    -fx-background-color:
        linear-gradient(#cec340, #a59c31),
        linear-gradient(#fefefc, #e6dd71),
        linear-gradient(#fef592, #e5d848);
    -fx-background-insets: 0,1,2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-text-fill:black;
}

/* FIXED HEADERS  */
VerticalHeader > Label.fixed{
    -fx-background-color: -fx-box-border, -fx-inner-border,   linear-gradient(to left, derive(-fx-color,-20%) ,derive(-fx-color,-10%));
    -fx-font-style : italic;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.fixed{
    -fx-background-color: -fx-box-border, -fx-inner-border,   linear-gradient(to top, derive(-fx-color,-20%) ,derive(-fx-color,-10%));
    -fx-font-style : italic;
}

/* HORIZONTAL AND VERTICAL HEADER SELECTION */
VerticalHeader > Label {
    -fx-background-color: -fx-box-border, -fx-inner-border,  linear-gradient(to left, derive(-fx-color,-5%) ,derive(-fx-color,5%));
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    /*-fx-padding: 0.166667em;*/
    /*-fx-label-padding:0 0 0 20;*/
    -fx-alignment: center;
    -fx-font-style : normal;
}

VerticalHeader > Label.selected{
    -fx-background-color: -fx-box-border, -fx-inner-border,  linear-gradient(to right, derive(#FFDB6D,-10%) ,derive(#FFDB6D,10%));
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-alignment: center;
    -fx-border-color : #FFDB6D;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected{
    -fx-background-color: -fx-box-border, -fx-inner-border,  linear-gradient(to bottom, derive(#FFDB6D,-10%) ,derive(#FFDB6D,10%));
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-alignment: center;
    -fx-border-color : #FFDB6D;
}

/* HORIZONTAL HEADER VISIBILITY */
.column-header-background.invisible { visibility: hidden; -fx-padding: -1em; }

.cell-corner{
    -fx-background-color: red;
}

.cell-corner.top-left{
    -fx-shape : "M 0 0 L 1 0 L 0 1 z";
}

.cell-corner.top-right{
    -fx-shape : "M 0 0 L -1 0 L 0 1 z";
}

.cell-corner.bottom-right{
    -fx-shape : "M 0 0 L -1 0 L 0 -1 z";
}

.cell-corner.bottom-left{
    -fx-shape : "M 0 0 L 1 0 L 0 -1 z";
}

.indicationLabel{
    -fx-font-style : italic;
}

/* PICKERS */
.picker-label{
    -fx-graphic: url("picker.png");
    -fx-background-color: white;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.picker-label:hover{
    /*-fx-effect:dropshadow(gaussian, black, 10, 0.1, 0, 0);*/
    -fx-cursor:hand;
}

/* We don't want to show the white background both for TextField
and textArea. We want it to be transparent just like Excel.

Also we need to shift to the left the editor a bit*/
CellView > .text-input.text-field{
    -fx-padding : 0 0 0 -0.2em;
    -fx-background-color: transparent;
}
CellView > .text-input.text-area,
CellView > TextArea .scroll-pane > .viewport{
    -fx-background-color: transparent;
}

/* I shift by 3px, it's not clean but it works for normal row (24px) as it
centers the textArea.*/
CellView > TextArea .scroll-pane{
    -fx-padding : 3px 0 0 -0.15em;
}

CellView > TextArea .scroll-pane > .viewport .content{
    -fx-padding : 0 0 0 0;
    -fx-background-color: transparent;
}
/* The scrollBars must always have the same size because we may have
really big font in the editor (48px) and the scrollBars become obese otherwise.*/
CellView >TextArea .scroll-bar:vertical ,
CellView >TextArea .scroll-bar:horizontal {
    -fx-font-size : 1em;
}

.selection-rectangle{
    -fx-fill : transparent;
    -fx-stroke : black;
    -fx-stroke-width : 2;
}

.gridBidJornada{
    -fx-background-color:  #CDCDCD;
}
.gridBidPerformance{
    -fx-background-color:  #DEDEDE;
}

.gridBidJornadaFlor{
    -fx-background-color: #EEAB9B;
}
.gridBidPerformanceFlor{
    -fx-background-color: #FFE0D6;
}

.gridBidJornadaDlz{
    -fx-background-color: #002856;
    -fx-text-background-color: #E09A00;
    -fx-text-fill: #E09A00;
}

.gridBidPerformanceDlz{
    -fx-background-color: #B5B5B5;
}

.tablesBid .table-row-cell{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #AAAAAA;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-insets: -1;
}

.tablesBid .table-row-cell:odd{
    -fx-background-color: #DCDCDC;
    -fx-focus-color: #f25f29;
    -fx-faint-focus-color: #f25f2933;
}

.tablesBid .table-row-cell:selected {
    -fx-background-color: #87CEFA;
    -fx-text-fill: #222222 !important;
    -fx-text-background-color: #222222 !important;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.g_tbox_btn {
    -fx-border-radius: 5 0 0 5;
}

.g_btn_tbox {
    -fx-border-radius: 0 5 5 0;
}

.statusBoletoVencido {
    -fx-background-color: #FA8072;
    -fx-control-inner-background: #FA8072;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.statusBoletoAVencer {
    -fx-background-color: #90EE90;
    -fx-control-inner-background: #90EE90;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.statusLigarCliente {
    -fx-background-color: #00BFFF;
    -fx-control-inner-background: #00BFFF;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.statusNpa {
    -fx-background-color: #f1af09;
    -fx-control-inner-background: #f1af09;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.cell_ordered{
    -fx-graphic: url("../images/icons8-alphabetical-sorting-16.png");
}

.text-field-btn .text-field {
    -fx-background-color: #dedede;
    -fx-background-radius: 0px;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 0px;
    -fx-text-fill: #444444;
    -fx-alignment: CENTER_LEFT;
    -fx-highlight-fill: #802046;
    -fx-highlight-text-fill: #802046;
}

.text-field-btn .button {
    -fx-background-color: #dedede;
    -fx-background-radius: 0px;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 0px;
    -fx-text-fill: #444444;
    -fx-alignment: CENTER_LEFT;
    -fx-highlight-fill: #802046;
    -fx-highlight-text-fill: #802046;
}