/*<editor-fold defaultstate="collapsed" desc="Primitive components">*/
.root {

    -background-color: #ffffff;
    -body-color : #FFFFFF;
    -text-fill: #2a2e33;
    -outer-border: #b4f5ff;

    -principal-color: #802046;

    -menu-bar-color: white;
    -menu-hover-color: #802046;
    -menu-item-focus-color: #ecd9dd;
    -menu-text-hover: #ffffff;

    -tab-pane-color: #fbeef3;
    -tab-label: #802046;
    -tab-hover-color: #cecece;

    -menu-boas-vindas-color: lightcoral ;
    -grid-bid-jornada-color: red;
    -grid-bid-performance-color:red;
}

* {
    -background-color: #ffffff;
    -principal-color: #802046;
}
