/*<editor-fold defaultstate="collapsed" desc="Primitive components">*/
.root {

    -background-color: #ffffff;
    -body-color : #FFFFFF;
    -text-fill: #f9f9f9;
    -outer-border: #b4f5ff;

    -principal-color: rgba(33, 37, 43, 0.95) ;

    -menu-bar-color: rgba(33, 37, 43, 0.95);
    -menu-hover-color: #999999;
    -menu-item-focus-color: #c4c4c4;
    -menu-text-hover: #ffffff;

    -tab-pane-color: #ababab;
    -tab-label: rgba(33, 37, 43, 0.95);
    -tab-hover-color: #cecece;

    -menu-boas-vindas-color: #464a55;
}

* {
    -background-color: #ffffff;
    -principal-color: rgba(33, 37, 43, 0.95);
}